@import "globals/hack-variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&display=swap');

.searchPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  font-family: 'Nunito', sans-serif;
  background-color: #f5ff9e;
}
h1 {
  font-family: 'Nunito', sans-serif;
  color: $white;
  font-size: 40px;
}

h2 {
  font-family: 'Nunito', sans-serif;
  color: $black;
  font-size: 20px;
}